[Unit]
Description=Announce Couchbase bootstrap node
BindsTo=couchbase_bootstrap_node.service
After=couchbase_bootstrap_node.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/sh -c "while true; do etcdctl set /services/couchbase/bootstrap_ip $COREOS_PRIVATE_IPV4 --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/couchbase/bootstrap_ip

[X-Fleet]
MachineOf=couchbase_bootstrap_node.service