[Unit]
Description=Announce Couchbase node
BindsTo=couchbase_node@%i.service
After=couchbase_node@%i.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/sh -c "while true; do etcdctl set /couchbase-node-state/$COREOS_PRIVATE_IPV4 up --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /couchbase-node-state/$COREOS_PRIVATE_IPV4

[X-Fleet]
MachineOf=couchbase_node@%i.service